name: Build OpenWrt image for recovery
on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    paths:
      - "openwrt/**"
      - ".github/workflows/build-openwrt.yml"

env:
  REPO_URL: https://git.openwrt.org/openwrt/openwrt.git
  BUILD_ROOT: ${{ github.workspace }}/openwrt
  EXTRA_PACKAGES: pv

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: rb5009-unbrick

      - name: Initialize environment for OpenWrt build
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get -qq update && sudo apt-get -qq upgrade
          sudo apt-get -qq install build-essential clang flex bison \
              g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev \
              libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget
          sudo apt-get -qq autoremove --purge
          sudo apt-get -qq clean

      - name: Read OpenWrt version
        id: version
        run: |
          echo "version=$(cat rb5009-unbrick/openwrt/version)" >> $GITHUB_OUTPUT

      - name: Checkout OpenWrt repository
        run: |
          git clone --depth 1 --revision  ${{ steps.version.outputs.version }} https://git.openwrt.org/openwrt/openwrt.git

      - name: Copy local assets
        run: |
          cp -a rb5009-unbrick/openwrt/files/ ${{ env.BUILD_ROOT }}/
          cp rb5009-unbrick/openwrt/rb5009-debrick.config ${{ env.BUILD_ROOT }}/.config

      - name: Build OpenWrt
        run: |
          cd ${{ env.BUILD_ROOT }}
          patch -p1 -i ../rb5009-unbrick/openwrt/*.patch
          ./scripts/feeds update -a
          ./scripts/feeds install ${{ env.EXTRA_PACKAGES }}
          IGNORE_ERRORS=m make -j$(($(nproc)+1)) defconfig download clean world || IGNORE_ERRORS=m make -j1 defconfig download clean world V=s

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openwrt-recovery-build
          path: openwrt/bin/targets/mvebu/cortexa72/openwrt-mvebu-cortexa72-mikrotik_rb5009-initramfs-uImage.itb

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        if: github.ref_type == 'tag'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: openwrt/bin/targets/mvebu/cortexa72/openwrt-mvebu-cortexa72-mikrotik_rb5009-initramfs-uImage.itb
          asset_name: openwrt-mvebu-cortexa72-mikrotik_rb5009-initramfs-uImage.itb
          tag: ${{ github.ref }}
          overwrite: true
